#elderDivListContactItem {
    text-align: none;
}

.overview {
    border: black solid 1px;
    margin: 10px;
    display: flex;
    align-items: center;
    
}

.overview__gravatar {
    border: black solid 1px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.overview__info {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
}

.overview__info_ligne1 {
    display: flex;
    justify-content: flex-start;
}

.overview__info_ligne2 {
    display: flex;
    justify-content: space-between;
}


.overview__info__ligne2__favori {
    width: 5px;
    height: 20px;
    background-color: black;
}

.overview__text {
    text-align: none;
}