
.LISTGROUP_CONTAINER{
    min-height: 88vh;
    display: flex;
  }

  .OVERVIEWLISTCONTACT{
    border: 2px solid #61524e;
    /*background-color: rgba(97, 82, 78, 0.5);*/
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    background-image: url("../../assets/Images/familink2.jpg");
    background-size: cover;
  }

  .DETAILCONTACT{
    /* border: 1px solid blue; */
    /* height: 100px; */
    width: calc(100%/3*2);
  }

  .CONTACT{
    border: 1px solid #61524e;
    background-color: white;
    width: auto;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    padding: 5px;
    border-radius: 7px;

  }

  .CONTACT__Gravatar{
    width: auto;
    height: auto;
    border: 3px solid;
  }

  .CONTACT__Image{
    max-width: 80px;
    max-height: 80px;
  }
  
  .OVERVIEW{
    width: calc(100%/5*4);
    height: inherit;
    display: flex;
    flex-direction: column;

  }

  .OVERVIEW__Identite{
    width: 100%;
    height: calc(100%/2);
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 15px;
  }

  .OVERVIEW__Profil{
    margin-right: 10px;
    width: auto;
    height: 100%;
    font-weight: bold;
    font-size: 15px;
  }

  .OVERVIEW__ImageFavori{
      height: 22px;
      width: 22px;
  }

  .CONTACT .selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .CONTACT:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.selected {
  background-color: #198DBE !important;
  color: white;
}

.flex {
  display: flex;
}
