<div class="LISTGROUP_CONTAINER">
  <div class="OVERVIEWLISTCONTACT">
    <input class="CONTACT" type="text" name="searchText" placeholder="Rechercher">
    <div class = "flex"> 
      <a href = "" [routerLink]="['/groups', groupId, 'contacts', 'create-contact']"
      routerLinkActive="active">Créer nouveau contact</a>
      <button (click)="handleClickRefresh()">Refresh</button>
    </div>
   

    <div class="CONTACT" *ngFor="let contact of listeContact;let i = index" (click)="onSelect(contact, i)" [class.selected]="contact === selectedContact">
      <div class="CONTACT__Gravatar" [style.border-color]="contact.profil?.color | lowercase"><img src={{contact.gravatar}} alt="User's gravatar"/></div>
      <div class="OVERVIEW">
        <div class="OVERVIEW__Identite">{{contact.lastName | uppercase}} {{contact.firstName | titlecase}}</div>
        <div class="OVERVIEW__Identite">
          <div class="OVERVIEW__Profil">{{contact.profil?.profilName | titlecase}}</div>
          <div class="OVERVIEW__Profil"><img class="OVERVIEW__ImageFavori" src="../../assets/Images/Etoile.png" alt="étoile des favoris"/></div>
        </div>
      </div>
    </div>
  </div>

  <div class="DETAILCONTACT">
       <router-outlet></router-outlet>
  </div>


</div>
