<p>
  create-contact works!
</p>

<div class="formulairecontact">
  <form method="get" action="" class="formulaire">
    <label name="email">email</label>
    <input type="text" name="email" value="Saisir un mail" >
    <label name="nom">nom</label>
    <input type="text" name="nom" value="Saisir un nom">
    <label name="prenom">prenom</label>
    <input type="text" name="prenom" value="Saisir un prénom">
    <label name="profil">profil</label>
    <select id="profil">
      <option value="S" name="senior">Senior</option>
      <option value="M" name="medecin">Medecin</option>
      <option value="F" name="famille">Famille</option>
    </select>
    <label name="gravatar">gravatar</label>
    <input type="text" name="gravatar" value="Saisir gravatar">
    <input type="text" name="codepostal" value="Saisir saisir code postal">
    <input type="text" name="ville" value="Saisir ville">
    <input type="text" name="tel" value="Saisir téléphone">
    <input type="submit" value="Valider" class="validation">
  </form>
</div>
