* {
  box-sizing: border-box;
  font-family:Arial;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 15px;
  }

body {
  margin: 0;
  height:100%;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

form {
  display:block;

}

input {
  font-size: 12px;
  padding-top: 3px;
}
.container {
  /*background-image: url("../../assets/Images/Istock-Seniors-at-Computer.jpg");*/

}
.BLOCK__Form{


}

.BLOCK__Field {


}

label{
  margin-bottom: 15px;
  font-size: 14px;
  color: #221f21;

}



.errormessage {

  font-size: 12px;
  color: red;
}

.BLOCK__Header {
  background-image: url("../../assets/Images/headerpage.jpg");
  min-height: 100px;

}

.BLOCK__Center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px 40px;
  color: #FFF;
  text-shadow: none;
  /*box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);-->*/
  border-radius:15px;




}

.BLOCK__Middleform {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:25px;
  align-items: center;
}

.BLOCK_Identity1, .BLOCK_Identity2, .BLOCK_Identity3 {
  max-width: 450px;
  border-bottom: #72b1ff;
  /*border: 1px solid #16a085;*/


}


.BLOCK__Input {
 /* height: auto!important;*/
  height: 100%;
  padding: 8px 12px !important;
  width: 100%;
  /*border: 2px solid red;*/
  font-size: 16px;

}

.BLOCK__Input input {
 /* background-color:rgba(5,5,5,0.4);*/
  border-radius:6px;
  height:30px;
  color: #1A237E;
  padding-left:5px;
  display: inline-block;
  border: 1px solid gray;
  font-size: 15px;
}

.BLOC__Select select {
  border-radius:6px;
  border:0;
  height:30px;
  text-align:left;
  width: 96%;
  border: 1px solid gray;
  padding: 8px 12px !important;
}

.BLOCK__Input button {
  background-color:#0D47A1;
  border:1px solid;
  border-color:white;
  color:rgba(255,255,255,1);
  width: 145px;
  text-align: center;
  border-radius:6px;
  height: 35px;
  margin-top: 25px;

}

.BLOCK__Input p{
  color: gray;

}


.BLOCK__Footerform {

}


