@import '/node_modules/font-awesome/css/font-awesome.css';

* {
  box-sizing: border-box;
  font-family:Arial;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-family: Helvetica;
  }

body {
  margin: 0;
  height:100%;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

form {
  display:block;

}

input {
  font-size: 12px;
  padding-top: 3px;
}
.container {
  background-image: url("../../assets/Images/familymedecine.jpg");
  background-size: cover;
}
label{
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
  text-align: center;

}


.errormessage {

  font-size: 12px;
  color: red;
}

.BLOCK__Header {

  min-height: 100px;
  margin-top: 70px;
  padding-top: 5px;

}

.BLOCK__Center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  background-color:#61524e;
  color: #FFF;
  text-shadow: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  border-radius:15px;
  opacity: 0.8;

}


.BLOCK__Center:hover{

  background-color:#61524e;
  opacity: 1;

}



.BLOCK__Middleform {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:25px;
  align-items: center;


}

.BLOCK_Identity1, .BLOCK_Identity2, .BLOCK_Identity3 {
  max-width: 450px;
  border-bottom: #72b1ff;
  /*border: 1px solid #16a085;*/


}


.BLOCK__Input {
 /* height: auto!important;*/
  height: 100%;
  padding: 8px 12px !important;
  width: 100%;
  font-size: 16px;

}

.BLOCK__Input p{
  color:rgba(255,255,255,1);
  font-style: italic;

}

.BLOCK__Input input {
 /* background-color:rgba(5,5,5,0.4);*/
  border-radius:6px;
  height:30px;
  color: #1A237E;
  padding-left:5px;
  display: inline-block;
  border: 1px solid gray;
  font-size: 15px;
}

.BLOC__Select select {
  border-radius: 6px;
  border: 0;
  height: 33px;
  text-align: left;
  width: 93%;
  border: 1px solid gray;
  padding: 8px 12px !important;
  margin-left: 11px;
  color: gray;
}

.BLOCK__Input button {
  background-color:#0D47A1;
  border:1px solid;
  border-color:white;
  color:rgba(255,255,255,1);
  width: 145px;
  text-align: center;
  border-radius:6px;
  height: 35px;
  margin-top: 25px;

}

.BLOCK__Input p{
  color:rgba(255,255,255,1);
  font-style: italic;

}


.BLOCK__Footerform {

}


