<div class="container">
  <div class="headerblock">
    <div class="content">
          <h1> Identifiant FAMILINK</h1>

              <div class="formulairelogin">
                <form (ngSubmit)="handleSubmit()"
                      method="post"
                      action=""
                      class="formulaire"
                      [formGroup]="loginForm">
                  <div class="BLOCK__Input">
                            <div class="BLOCK__Input1" >
                                <input formControlName="email"
                                       type="text"
                                       name="email"
                                       placeholder="Email">
                            </div>
                            <div class="BLOCK__Input2" >
                                <input formControlName="password"
                                       type="text"
                                       name="password"
                                       placeholder="Password">
                            </div>
                  </div>
                  <div class="BLOCK__Validation">
                      <button type="submit"
                              class="validation"> Valider
                      </button>
                  </div>
                </form>
              </div>
              <p><a class="DROPDOWN__Link"
                    routerLink="/create-user"
                    routerLinkActive="active">Créer un compte</a> | <a routerLink="/forgot-password"
                                                                       routerLinkActive="active">forgot-password</a> |
                <a routerLink="/reinitialize-password"
                   routerLinkActive="active">reinitialize-password</a></p>

            </div>
      </div>
</div>
