<div class="container">
  <div class="headerblock">
    <div class="content">
      <h1> FAMILINK</h1>
      <div class="paragraphe1">
        <p> Solution applicative pour faciliter la mise en relation d’un certain nombre de contact autour d’une ou
            plusieurs personnes agées nécessitant une attention
            particulière.
        </p>
      </div>
      <div class="formulairelogin">
        <form (ngSubmit)="handleSubmit()"
              method="post"
              action=""
              class="formulaire"
              [formGroup]="loginForm">
          <input formControlName="email"
                 type="text"
                 name="email"
                 placeholder="Email">
          <input formControlName="password"
                 type="text"
                 name="password"
                 placeholder="Password">
          <button type="submit"
                  class="validation"> Valider
          </button>
        </form>
      </div>
      <p><a class="DROPDOWN__Link"
            routerLink="/create-user"
            routerLinkActive="active">Créer un compte</a> | <a routerLink="/forgot-password"
                                                               routerLinkActive="active">forgot-password</a> |
        <a routerLink="/reinitialize-password"
           routerLinkActive="active">reinitialize-password</a></p>
    </div>
  </div>
</div>
