* {
  box-sizing: border-box;
  font-family:Arial;
}


body {
  margin: 0;
  height:100%;
  background-repeat: no-repeat;

}

a {
  color: white;
}


img {
  max-width: 100%;
}

form {
  display:block;

}

.container {
  background-image: url("../../assets/Images/bg_login.jpg");
  min-height: 350px;
  background-size: cover;

}

form {
  display:block;

}

.BLOCK__Field {
  display: block;
}


.BLOCK__Center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  color: #FFF;
  height: 50%;
}



.headerblock {
  color:black;
  text-align:center;


  min-height: 520px;
  text-align: center;
  color: white;
  font-family: "Open sans", Helvetica, Arial;
  background-repeat: no-repeat;


}

.BLOCK__Input {
  height: auto!important;
  padding: 8px 12px !important;
  display: inline-block;


}


.content{
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;

}

.formulairelogin{
  flex-direction: column;
  display:flex;
  margin-bottom:25px;
  align-items: center;
}


.formulaire input{

  background-color:white;
  border-radius:6px;
  border:0;
  height: 30px;
  text-align:left;
  color:rgba(255,255,255,.8);
  width: 100%;

}

.formulaire .validation{
  background-color:rgba(255, 255, 255, 0.06);
  border:1px solid;
  border-color:white;
  color:rgba(255,255,255,.8);
}

.imagelogin {

  margin-bottom: -280px;
  transition: margin 0.6s;

}

.imagelogin:hover {
  margin-top: -180px;
  margin-bottom:0px;
}
