* {
  box-sizing: border-box;
  font-family:Arial;
}

body {
  margin: 0;
  height:100%;
}

a {
  color: white;
}


img {
  max-width: 100%;
}

.headerblock {
  background-color: #009688;
  color:white;
  text-align:center;


}

.content{
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

.formulairelogin{
  display:flex;
  align-items:center;

}

.formulaire{
  display:inline-block;
  flex:auto;

}

.formulaire input{

  background-color:rgba(5,5,5,0.4);
  border-radius:6px;
  border:0;
  height: 30px;
  text-align:left;
  color:rgba(255,255,255,.8);

}

.formulaire .validation{
  background-color:rgba(255, 255, 255, 0.06);
  border:1px solid;
  border-color:white;
  color:rgba(255,255,255,.8);
}

.imagelogin {

  margin-bottom: -280px;
  transition: margin 0.6s;

}

.imagelogin:hover {
  margin-top: -180px;
  margin-bottom:0px;
}
