<p>
  create-user works!
</p>


<title>Familink | Création user</title>

<div class="container">
  <div class="BLOCK__Center">
    <h1> Créer un user</h1>
    <div class="formulaireuser">
     <!-- Formulaire creation User -->
      <form (ngSubmit)="handleSubmit()"  class="formulaire" [formGroup]="userForm">
        <div class ="BLOCK__Middleform">

          <!-- Formulaire Partie gauche -->
          <div class="BLOCK_Leftform">
            <div class="BLOCK__Form">
              <!-- champ Email -->
              <div class="BLOCK__Field">
                <label name="email">
                  <i class="fa fa-envelope" aria-hidden="true"></i> email
                </label>
                <div class="BLOCK__Input">
                 <input formControlName="email" type="text" name="email" placeholder="Saisir un mail" ngModel>
                </div>
              </div>
            </div>
            <div class="BLOCK__Form">
              <!-- champ Password -->
              <div class="BLOCK__Field">
                <label name="password">
                  <i class="fa fa-unlock" aria-hidden="true"></i> password
                </label>
                <div class="BLOCK__Input">
                  <input formControlName="password" type="text" name="password" placeholder="Saisir password" ngModel>
                </div>
              </div>
            </div>
            <div class="BLOCK__Form">
              <div class="BLOCK__Field">
                <label name="password">
                  <i class="fa fa-unlock" aria-hidden="true"></i> confirm password
                </label>
                <div class="BLOCK__Input">
                  <input formControlName="password2" type="text" name="password2" placeholder="Confirmer le password" ngModel>
                </div>
              </div>
            </div>


            <div class="BLOCK__Form">
              <div class="BLOCK__Field">
                <label name="nom">
                  <i class="fa fa-user" aria-hidden="true"></i> nom
                </label>
                <div class="BLOCK__Input">
                  <input formControlName="nom" type="text" name="nom" placeholder="Saisir un nom" ngModel>
                </div>
              </div>
            </div>

            <div class="BLOCK__Form">
              <div class="BLOCK__Field">
                <label name="prenom"> <i class="fa fa-user" aria-hidden="true"></i>
                  prenom</label>
                <div class="BLOCK__Input">
                  <input formControlName="prenom" type="text" name="prenom" placeholder="Saisir un prénom" ngModel>
                </div>
              </div>
            </div>
            <!-- Formulaire Partie droite -->

          </div>
          <div class="BLOCK_Rightform">
            <div class="BLOCK__Form">
              <div class="BLOCK__Field">
                <label name="gravatar"> <i class="fa fa-id-badge" aria-hidden="true"></i>
                  gravatar
                </label>
                <div class="BLOCK__Input">
                  <input formControlName="gravatar" type="text" name="gravatar" placeholder="Saisir gravatar" ngModel>
                </div>
              </div>
            </div>

            <div class="BLOCK__Form">
              <label name="codepostal"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                code postal</label>
              <div class="BLOCK__Input">
                <input formControlName="codepostal" type="text" name="codepostal" placeholder="Saisir code postal" ngModel>
              </div>
            </div>

            <div class="BLOCK__Form">
              <div class="BLOCK__Field">
                <label name="ville"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                  ville
                </label>
                <div class="BLOCK__Input">
                  <input formControlName="ville" type="text" name="ville" placeholder="Saisir ville" ngModel>
                </div>
              </div>
            </div>

            <div class="BLOCK__Form">
              <div class="BLOCK__Field">
                <label name="telephone">
                  <i class="fa fa-phone" aria-hidden="true"></i> téléphone
                </label>
                <div class="BLOCK__Input">
                  <input formControlName="telephone" type="text" name="tel" placeholder="Saisir téléphone" ngModel>
                </div>
              </div>
            </div>
            <div class="BLOCK__Form">
              <div class="BLOCK__Field">
                <label name="profil">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  profil
                </label>
                <div class="BLOC__Select">
                  <select formControlName="profil" id="profil" placeholder="Profil" name="profil" ngModel>
                    <option value="S" name="senior">Senior</option>
                    <option value="M" name="medecin">Medecin</option>
                    <option value="F" name="famille">Famille</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="BLOCK__Footerform">
          <div class="BLOCK__Form">
            <div class="BLOCK__Field">
              <div class="BLOCK__Input">
                <button type="submit" class="validation"> Valider </button>
                <button type="reset" (click) ="handleClear()" class="validation"> Annuler </button>
              </div>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>
