<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/create-user" routerLinkActive="active">Create user</a>
    <a routerLink="/forgot-password" routerLinkActive="active">forgot-password</a>
    <a routerLink="/new-password" routerLinkActive="active">new-password</a>
    <a routerLink="/create-group" routerLinkActive="active">create-group</a>
    <a routerLink="/choose-group" routerLinkActive="active">choose-group</a>
    <a routerLink="/edit-user" routerLinkActive="active">edit-user</a>
    <a routerLink="/create-contact" routerLinkActive="active">create-contact</a>
    <a routerLink="/contact-info" routerLinkActive="active">contact-info</a>
    
  </nav>
  <router-outlet></router-outlet>
</div>


