<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/create-user" routerLinkActive="active">Create user</a>
    <a routerLink="/forgot-password" routerLinkActive="active">forgot-password</a>
    <a routerLink="/reinitialize-password" routerLinkActive="active">reinitialize-password</a>
    <a routerLink="/edit-user" routerLinkActive="active">edit-user</a>

    <a routerLink="/groups" routerLinkActive="active">liste groupe</a>
    
    
  </nav>
  <router-outlet></router-outlet>
</div>


